.header-basic {
	background-color: #131f28;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
    box-sizing: border-box;
    margin-bottom:15px;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-basic .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: #5393d3;
}

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-basic .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	font-size: 16px;
	opacity: 0.8;
}

.header-basic .header-limiter nav a:hover{
	opacity: 1;
}

body{
    margin:0px;
    padding:0px;
}

label:not(.normal){
    font-weight: 500;
}

input:not([type=checkbox]){
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #131f28;
    color: white;
}

h2{
    margin-bottom:15px;
}

.bigbr{
    line-height: 35px;
}

.error{
    color: red;
}

.success{
    color: green;
}

.warning{
    color: yellowgreen;
}

.right{
    float: right;
}

.hidden{
	display:none;
}

#searchMap, #placeMap{
	height:566px;
}

#place{
	position:relative;
}

.placeOverlay{
	color: #131f28;
	padding: 30px;
	height: 448px;
	width: 500px;
	background-color: white;
	opacity:0.75;
	position:absolute;
	top: 59px;
	left: 10px;
	z-index: 2;
}

#placeLabels{
	font-weight:500;
	font-size:18px;
	float:left;
	width: 80px;
}
#placeDetails{
	font-size:18px;
	float:left;
}
#placeImg{
	margin-top: 10px;
	clear:both;
	width: 440px;
	height: 245px;
}